extends base.pug

block headExtra    
    title Criação de Montadoras

block content
    h1.text-center.mt-5= title
    .container
        form.form(action="criar/processarMontadora", method="post") 
            label.form-label.mt-2(for="name") Nome da montadora: 
            input.form-control(type="text", name="name")
            label.form-label.mt-2(for="country") País: 
            input.form-control(type="text", name="country")
            label.form-label.mt-2(for="year") Ano de fundação:
            input.form-control(type="number", name="year")
            button.btn.btn-primary.mt-2.col-md-4.offset-md-4 Criar