extends base.pug

block headExtra 
    title Listagem de Montadoras

block content  
    h1.text-center= title
    .container
        .row
            .col-md-8.offset-md-2
                ul.list-group
                    each montadora in montadoras 
                        li.list-group-item= montadora.name

                a.mt-2.btn.btn-primary(href="criar") Criar Montadora
                
                
